* {
    font-family: "Arial";
}

header {
    position: relative;
    text-align: right;
    background-color: gray;
    color: cyan;
}

h1 {
    align-content: flex-start;
    padding: 10px;
    margin-right: 875px;
    background-color: cyan;
    color: black;
}

nav {
    flex-direction: row;
    display: block;
    padding: 20px;
    color: cyan;
    text-decoration: underline;
}