/*!!!!!!!!!!!!!!HEADER!!!!!!!!!!!!!!!!!!!!*/
body {
    background-color: antiquewhite;
}

header {
    display: flex;
    background-color: #2B2E33;
    color: aqua;
}

.lc-develop h1 {
    display: flex-start;
    background-color: aqua;
    color: #2B2E33;
    padding: 20px;
    margin-bottom: 2px;
}

.lc-develop h2 {
    display: flex-end;
    background-color: aqua;
    color: #2B2E33;
    padding: 20px;
    margin-bottom: 2px;
}

.links ul li {
    display: inline-flex;
    align-content: space-between;
    padding: 20px;
    text-decoration: underline;
    background-color: #2B2E33;
    color: aqua;
}  

/*!!!!!!!!!!!!!!!!!!!!!MAIN!!!!!!!!!!!!!!!!!!!!!*/
main {

}

.titles 

/*!!!!!!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!!!*/
footer {

}