/*!!!!!!!!!!!!!!HEADER!!!!!!!!!!!!!!!!!!!!*/
header h1 {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    color: cyan;
}

/*
header div {
    align-content: flex-start;
    padding: 10px;
    margin-right: 875px;
    background-color: cyan;
    color: black;
}

header nav{
    flex-direction: row;
    display: block;
    padding: 20px;
    color: cyan;
    text-decoration: underline;
} */

/*!!!!!!!!!!!!!!!!!!!!!MAIN!!!!!!!!!!!!!!!!!!!!!*/
/*main {

}


*/

